hr {color:sienna;}
#config{   
    background-image:url(https://images.unsplash.com/photo-1498354136128-58f790194fa7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-size:cover;
    margin: 0%;
}
.center
{
    text-align: center;
	margin: auto;
    width: 100%;    
}
.pic
{
    float: left;
}
.sticky
{
    position:sticky;
}
body p
{
	font-family:"Times New Roman";
}
.language
{
    float:right;
    top:60px;
    right:15px;
}
.accountPasswordBlank
{
    padding:12px 15px;
}
.accountInline
{
    text-align: center;
    margin: auto;
    display: inline-block;
}
.loginButton
{
    color: white;
    background-color: cadetblue;
    width:70px;
    margin:20px;
    border-radius: 5px;
    border-width:0;
}
.registerButton
{
    color: white;
    background-color: rgb(26, 196, 68);
    width:70px;
    margin:20px;
    border-radius: 5px;
    border-width:0;
}
li
{
    float:left;
}
.topBar
{
    background-image:url(pic/navigate_background.jpg);
    background-size:cover;
    height: 60px;
    display: flex;
    justify-content: flex-start;
}
.topbarUl 
{
    height: 60px;
    top: 0;
    list-style-type: none;
    margin: 0;
}
.topbarrightUl
{
    width: auto;
    height: 60px;
    top: 0;
    list-style-type: none;
    margin: 0;
   

}
.topbarrightlia
{
    height: 30px;
    /* border-right:1px solid green;  */
    width : 50px;
    text-align: center;
    text-decoration: none;
}
.leftbarUl 
{
    background-image:url(pic/navigate_background.jpg);
    background-size:cover;
    display: flex;
    flex-direction: column;
    background-color: beige;
    list-style-type: none;
    margin: 0;
    height: 1200px;
}
.blockAlign
{
    display: flex;
    align-items: center;
}
li a
{
    display: block;
    color: green;
    height: 30px;
    width : 100px;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
}
.clear
{
    clear: both;
}
.img {
    display: block;
    margin: auto;
}
input
{
    padding: 8px 15px;
}
input:focus 
{
    border-color:blue; 
}
.test
{
    font-size: 20px;
    color: #4CAF50;
}
.hideShow
{
    font-size: 20px;
    color: gray;
}
#panel, #flip
{
    padding: 5px;
    text-align: center;
    background-color: antiquewhite;
    border: solid 1px blue;
}
#panel
{
    display: none;
}
.productName
{
    margin: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
    text-align: center;
    background-image:url(pic/background2.jpeg);
    background-size:cover;
}
